/**
 * Syntax highlighting styles
 */

/* http://ethanschoonover.com/solarized */
$base03:  #002b36;
$base02:  #073642;
$base01:  #586e75;
$base00:  #657b83;
$base0:   #839496;
$base1:   #93a1a1;
$base2:   #eee8d5;
$base3:   #fdf6e3;
$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

pre, code {
 font-family: "Source Code Pro", Consolas, Courier, monospace;
 color: $base00;
 background: $base3;
}

.highlight {
    background: #fff;
    @extend %vertical-rhythm;

    .highlighter-rouge & {
      background: $base3;
    }

    .c     { color: $base1; font-style: italic } // Comment
    .err   { color: $red } // Error
    .k     { color: $green } // Keyword
    .o     { color: $yellow } // Operator
    .cm    { color: $base1; font-style: italic } // Comment.Multiline
    .cp    { color: $green } // Comment.Preproc
    .c1    { color: $base1; font-style: italic } // Comment.Single
    .cs    { color: $base1; font-style: italic } // Comment.Special
    .gd    { color: $red } // Generic.Deleted
    .gd .x { color: $red; background-color: $base2 } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: $red } // Generic.Error
    .gh    { color: $orange } // Generic.Heading
    .gi    { color: $green } // Generic.Inserted
    .gi .x { color: $green; background-color: $base2 } // Generic.Inserted.Specific
    .go    { } // Generic.Output
    .gp    { color: $base01 } // Generic.Prompt
    .gs    { font-weight:bold } // Generic.Strong
    .gu    { color: $orange } // Generic.Subheading
    .gt    { color: $magenta } // Generic.Traceback
    .kc    { color: $cyan } // Keyword.Constant
    .kd    { color: $cyan } // Keyword.Declaration
    .kp    { color: $cyan } // Keyword.Pseudo
    .kr    { color: $cyan } // Keyword.Reserved
    .kt    { color: $yellow } // Keyword.Type
    .m     { color: $cyan } // Literal.Number
    .s     { color: $cyan } // Literal.String
    .na    { color: $blue } // Name.Attribute
    .nb    { color: $yellow } // Name.Builtin
    .nc    { color: $blue } // Name.Class
    .no    { color: $cyan } // Name.Constant
    .ni    { color: $blue } // Name.Entity
    .ne    { color: $blue } // Name.Exception
    .nf    { color: $blue } // Name.Function
    .nn    { color: $blue } // Name.Namespace
    .nt    { color: $blue } // Name.Tag
    .nv    { color: $blue } // Name.Variable
    .ow    { color: $yellow } // Operator.Word
    .w     { color: $base2 } // Text.Whitespace
    .mf    { color: $cyan } // Literal.Number.Float
    .mh    { color: $cyan } // Literal.Number.Hex
    .mi    { color: $cyan } // Literal.Number.Integer
    .mo    { color: $cyan } // Literal.Number.Oct
    .sb    { color: $cyan } // Literal.String.Backtick
    .sc    { color: $cyan } // Literal.String.Char
    .sd    { color: $cyan } // Literal.String.Doc
    .s2    { color: $cyan } // Literal.String.Double
    .se    { color: $cyan } // Literal.String.Escape
    .sh    { color: $cyan } // Literal.String.Heredoc
    .si    { color: $cyan } // Literal.String.Interpol
    .sx    { color: $cyan } // Literal.String.Other
    .sr    { color: $cyan } // Literal.String.Regex
    .s1    { color: $cyan } // Literal.String.Single
    .ss    { color: $cyan } // Literal.String.Symbol
    .bp    { color: $base1 } // Name.Builtin.Pseudo
    .vc    { color: $blue } // Name.Variable.Class
    .vg    { color: $blue } // Name.Variable.Global
    .vi    { color: $blue } // Name.Variable.Instance
    .il    { color: $cyan } // Literal.Number.Integer.Long
}
