---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><span class="post-meta-item"><i class="fa fa-calendar" aria-hidden="true"></i> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>{% if page.author %}<span class="post-meta-item"><i class="fa fa-user" aria-hidden="true"></i> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></span>{% endif %}{% if page.tags %}<span class="post-meta-item">{% if page.tags.size == 1 %}<i class="fa fa-tag" aria-hidden="true"></i>{% else %}<i class="fa fa-tags" aria-hidden="true"></i>{% endif %} <span itemprop="tags">{{ page.tags | array_to_sentence_string }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
